---
import Button from "@/components/Button.astro";
import Card from "@/components/Card.astro";
import Link from "@/components/icons/Link.astro";
import Modal from "@/components/Modal.astro";
import { fade } from "astro:transitions";

import { projects } from "@/lib/data";
---

<section id="projects" class="">
  <div class="content flex flex-col gap-10">
    <h1 class="font-oswald text-4xl">Proyectos</h1>
    <div class="flex flex-col gap-6 lg:grid lg:grid-cols-[repeat(auto-fill,minmax(25rem,1fr))] lg:gap-10">
      {
        projects.map((project) => (
          <Card className={`flex flex-col gap-6 justify-between`} transition:name={`project-box-${project.id}`}>
            <div class="flex flex-col gap-6">
              <header class="flex gap-4 w-full justify-between items-end flex-wrap">
                <h2 class="font-raleway font-semibold text-2xl lg:text-3xl" transition:name={`project-title-${project.id}`}>
                  {project.title}
                </h2>
                <div class="flex gap-4">
                  <a href={`/projects/${project.id}`}>
                    <Button className="justify-self-end buttonProject" dataId={project.id}>
                      Ver más...
                    </Button>
                  </a>
                  {project.link && (
                    <a href={project.link} target="_blank" rel="noopener noreferrer" class="justify-self-end">
                      <Button className="group">
                        <Link className="h-6 w-6" colorClassName="text-primary group-hover:text-white transition:all duration-200" />
                      </Button>
                    </a>
                  )}
                </div>
              </header>
              <p class="text-gray-300 opacity-95" transition:name={`project-description-${project.id}`}>
                {project.description}
              </p>
            </div>
            <div class="flex flex-col gap-6 bottom-0">
              <div class="flex gap-2 flex-wrap">
                {project.link && <span class="text-green-500 bg-green-500 bg-opacity-20 p-2 rounded-md font-semibold">Online</span>}
                {project.tags.map((tag) => (
                  <span class="bg-gray-primary bg-primary bg-opacity-20 p-2 rounded-md font-semibold text-primary">{tag}</span>
                ))}
              </div>
              <img
                src={project.image}
                alt={project.imageAlt}
                class="w-full h-auto object-contain rounded-md"
                transition:name={`project-image-${project.id}`}
              />
            </div>
          </Card>
        ))
      }
    </div>
    <Modal id="projectsModal" onClose="closeFunction()">
      <div id="modalContent" class="flex flex-col gap-4 max-h-[70dvh] overflow-auto"></div>
    </Modal>
  </div>
</section>
